.ContactsList {
  margin: 0 auto;
  max-width: 300px;
  list-style: none;
  padding: 0;
}

.ContactListItem {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: lightgray;
  border: 1px solid lightgreen;
  border-radius: 10px;
  padding: 0 10px;
}

.ContactsList-button {
  margin-left: 10px;
}

.ContactListItem:not(:last-of-type) {
  margin-bottom: 10px;
}

.Contact-anime-enter {
  transform: translateX(100%);
}

.Contact-anime-enter-active {
  transform: translateX(0);
  transition: transform 500ms linear;
}

.Contact-anime-exit {
  transform: translateX(0);
}

.Contact-anime-exit-active {
  transform: translateX(-100%);
  transition: transform 500ms linear;
}
